* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container > header {
    height: 120px;
    margin-bottom: 20px;
}

.container > header  img {
    height: 100%;
}

#logo {
    margin-bottom: 40px;
    height: 60%;
}

header > nav > ul {
    list-style-type: none;
}

header > nav li {
    display: inline-block;
    margin-right: 8px;
}

header > nav li a {
    color: #8a8a8a;
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
}

.hero {
    height: 520px;
    margin: 50px 0;
}

.opacity {
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
.hero .banner .opacity {
    padding-top: 330px;
}

.banner {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../img/banner.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

.banner .titol {
    margin-left: 50px;
    width: 52%;
}

.hero .banner h1{
    font-size: 37px;
    font-weight: 100;
}

.banner .titol p{
    font-size: 20px;
}

.leadership {
    margin-top: 20px;
    padding-bottom: 20px;
}


.leadership header {
    height: 60px;
    margin-bottom: 25px;
}

.leadership header h2 {
    font-size: 45px;
}

.leadership header h3 {
    color: #8a8a8a;
    font-size: 20px;
    font-weight: lighter;
}

.columns {                                       
    margin-top: 50px;
    font-size: 18px;
    color: #8a8a8a;
}

.columns .image {
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-bottom: 20px;
}

.columns .left .image {
    background-image: url('../img/img-1.jpg');
}

.columns .center .image {
    background-image: url('../img/banner-2.jpg');
}

.columns .right .image {
    background-image: url('../img/img-3.jpg');
}

.col {
    width: calc(21% - 10px);
    float: left;
    margin-right: 10px;
}

.col h4 {
    color: black;
    margin: 20px 0;
}

.col.center {
    width: calc(58% - 20px);
    float: left;
    margin: 0 10px;
}

footer {
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

footer > i {
    color: red;
}