* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container > header {
    height: 120px;
    margin-bottom: 20px;
}

.container > header  img {
    height: 100%;
}

#logo {
    margin-bottom: 40px;
    height: 50%;
}

header > nav > ul {
    list-style-type: none;
}

header > nav li {
    color: #8a8a8a;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 8px;
    font-size: 17px;
}

.hero {
    height: 520px;
    margin: 40px 0;
}

.opacity {
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 330px;
}

.banner {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../img/banner.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

.banner .titol {
    margin-left: 50px;
    width: 52%;
}

.hero .banner h1{
    font-size: 37px;
    font-weight: 100;
}

.banner .titol p{
    font-size: 20px;
}

.leadership {
    margin-top: 20px;
    padding-bottom: 20px;
}


header.light-blue {
    height: 60px;
    margin-bottom: 25px;
}

.columns {                                       
    margin-top: 25px;
}

.col.left {
    height: 530px;
    width: calc(21% - 10px);
    float: left;
    margin-right: 10px;
}

.col.center {
    height: 530px;
    width: calc(58% - 20px);
    float: left;
    margin: 0 10px;
}

.col.right {
    height: 530px;
    width: calc(21% - 10px);
    float: left;
    margin-left: 10px;
}

footer {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}